<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divisor de CSV</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <script src="../static/js/script.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Divisor de Arquivo CSV</h1>
        <form id="csvForm" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="file">Selecione o arquivo CSV:</label>
                <input type="file" name="file" id="file" class="form-control" required>
                <small id="fileError" class="text-danger" style="display:none;">Por favor, selecione um arquivo CSV.</small>
            </div>
            <div class="form-group">
                <label for="tamanho_lote">Tamanho do lote <strong>(número de linhas que terá cada um dos arquivos gerados):</strong></label>
                <input type="number" name="tamanho_lote" id="tamanho_lote" class="form-control" required>
                <small id="loteError" class="text-danger" style="display:none;">O valor deve ser um número positivo.</small>
            </div>
                <div class="btnDividir">
                    <button type="submit" class="btn btn-success" id="btnDividir">Dividir Arquivo</button>
                </div>
        </form>
        <div id="downloadLinks" class="mt-4" style="display:none;">
            <h3>Arquivos gerados:</h3>
            <ul id="fileList"></ul>
        </div>
        <div id="successMessage" class="alert alert-info mt-3" style="display:none;"></div>

        <p><strong>{{contador}}</strong> arquivos foram divididos!</p>
    </div>
    <footer>
        Jorge Oliveira
    </footer>
</body>
</html>
